# user service
users/node_modules
users/.env
users/coverage

# upload service
upload/node_modules
upload/.env
upload/uploads/*

# community service
community/node_modules
community/.env

.DS_Store
db/