# user service
users/node_modules
users/.env
users/coverage

#post service
posts/node_modules
posts/.env

# upload service
upload/node_modules
upload/.env
upload/uploads/*

# community service
community/node_modules
community/.env

# chat service
chat/node_modules
chat/.env

# live
live/node_modules
live/.env

# # boilerplate
# live/node_modules
# live/.env

.DS_Store
db/
