# user service
users/node_modules
users/.env
users/coverage
users/package-lock.json

#post service
posts/node_modules
posts/.env

# upload service
upload/node_modules
upload/.env
upload/uploads/*
upload/package-lock.json

# community service
community/node_modules
community/.env
community/package-lock.json

# chat service
chat/node_modules
chat/.env

# live
live/node_modules
live/.env

# report
report/node_modules
report/.env

# notifications
notifications/node_modules
notifications/.env

# # boilerplate
boilerplate/node_modules
boilerplate/package-lock.json
# live/.env

.DS_Store
db/
